.env
.venv/*
.venv
*.pem
__pycache__/
*.pyc
*.pyo
*.pyd
env/
build/
dist/
*.egg-info/
.ipynb_checkpoints
.vscode/
.idea/
.DS_Store
*.log
uv.lock
chat_bot/.gradio/*
chat_bot/.gradio_cache/*
chat_bot/.gradio_cache
chat_bot/.gradio_cache/*
stock_agent/__pycache__/*
stock_agent/__pycache__
stock_agent/.ipynb_checkpoints/*
stock_agent/.ipynb_checkpoints